<nav >
  <div class="nav-wrapper purple">
    <a href="#!" class="brand-logo">Patrick M. Marshall</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Resume</a></li>
      <li><a href="badges.html">About Me</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Resume</a></li>
      <li><a href="badges.html">About Me</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>



<footer class="page-footer purple">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Footer Content</h5>
      <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Look Me Up Then Hook Me Up!</h5>
      <div>
      <a href="https://github.com/pmarshall17">
      <img title="GitHub" alt="GitHub" src='https://jitpack.io/w/img/github-logo.png' width="60" height="33" />
      </a>
      <a href="https://twitter.com/?lang=en">
      <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter1.png" width="35" height="35" />
      </a>
      <a href="https://www.linkedin.com/in/pmarshall71">
      <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/linkedin1.png" width="35" height="35" />
      </a>
      <a href="https://www.instagram.com/pat_marshall99/">
      <img title="Facebook" alt="Facebook" src="http://diylogodesigns.com/blog/wp-content/uploads/2016/05/instagram-Logo-PNG-Transparent-Background-download.png" width="37" height="37" />
      </a>
      <a href="mailto:pmarshall1716@gmail.com?subject=Great Website!">
      <img title="Gmail" alt="Gmail" src='https://lh6.ggpht.com/8-N_qLXgV-eNDQINqTR-Pzu5Y8DuH0Xjz53zoWq_IcBNpcxDL_gK4uS_MvXH00yN6nd4=w300' width="37" height="37" />
      </a>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2016 Copyright Text
  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div>
</footer>



