<!--navbar header-->
<nav>
  <div class="nav-wrapper green">
    <img alt='ruby picture' src="https://cdn.tutsplus.com/net/uploads/legacy/417_ruby/images/ruby.png" height="100" weight="100">
    <a href="#" class="brand-logo">Patrick Magness Marshall</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><img alt='ruby picture' src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" height="50" weight="50"></li>
      <li><img alt='ruby picture' src="http://wpguru.co.uk/wp-content/uploads/2013/09/CSS-Logo-214x300.png" height="50" weight="50"></li>
      <li><img alt='ruby picture' src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png" height="45" weight="45"></li>
      <li><img alt='ruby picture' src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" height="45" weight="45"></li>
    </ul>
  </div>
</nav>


<!--Main Menu Links-->

<div class="container">
    <ul>
      <li>
      <h4><a class="btn" href="#">Resume</a></h4>
      </li>
      <li>
        <h4><a class="btn" href="#">Bio</a></h4>
      </li>
      <li>
        <h4><a class="btn" href="#">About Me</a></h4>
      </li>
      <li>
        <h4><a class="btn" href="#">Projects</a></h4>
      </li>
      <li>
        <h4><a class="btn" href="#">Interests/Hobbies</a></h4>
      </li>
      <li>
        <h4><a class="btn" href="#">Character References</a></h4>
      </li>
      <li>
        <h4><a class="waves-effect waves-light btn modal-trigger blue-text text-lighten-4" href="#modal1">Suggestion</a></h4>
      </li>    
    </ul>
</div>            
