<!--navbar header-->
<nav>
  <div class="nav-wrapper teal">
  <div class="row">
    <div class="col offset l4 m6 s12">
      <div>
      <a href="https://github.com/pmarshall17">
      <img title="GitHub" alt="GitHub" src='https://jitpack.io/w/img/github-logo.png' width="65" height="33" />
      </a>
      <a href="https://twitter.com/?lang=en">
      <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter1.png" width="35" height="35" />
      </a>
      <a href="https://www.linkedin.com/in/pmarshall71">
      <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/linkedin1.png" width="35" height="35" />
      </a>
      <a href="https://www.instagram.com/pat_marshall99/">
      <img title="Facebook" alt="Facebook" src="http://3835642c2693476aa717-d4b78efce91b9730bcca725cf9bb0b37.r51.cf1.rackcdn.com/Instagram_App_Large_May2016_200.png" width="37" height="37" />
      </a>
      <a href="mailto:pmarshall1716@gmail.com?subject=Hi Patrick!">
      <img title="Gmail" alt="Gmail" src='https://lh6.ggpht.com/8-N_qLXgV-eNDQINqTR-Pzu5Y8DuH0Xjz53zoWq_IcBNpcxDL_gK4uS_MvXH00yN6nd4=w300' width="37" height="37"/>
      </a>
    </div>
  </div>
    <div><a class="brand-logo">Patrick Magness Marshall</a></div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><img alt='ruby picture' src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" height="50" weight="50"></li>
      <li><img alt='ruby picture' src="http://wpguru.co.uk/wp-content/uploads/2013/09/CSS-Logo-214x300.png" height="50" weight="50"></li>
      <li><img alt='ruby picture' src="https://cdn.tutsplus.com/net/uploads/legacy/417_ruby/images/ruby.png" height="50" weight="50"></li>
      <li><img alt='ruby picture' src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png" height="45" weight="45"></li>
      <li><img alt='ruby picture' src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" height="45" weight="45"></li>
    </ul>
  </div>

</nav>


<!--Main Menu Links-->
<div class="top_margin">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 l5">
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="/assets/IMG_3319.JPG">
              <div class="caption center-align">
              </div>
            </li>
            <li>
              <img src="/assets/RV.jpg">
              <div class="caption center-align">
              </div>
            </li>
            <li>
              <img src="/assets/texas.jpg">
              <div class="caption center-align">
              </div>
            </li>
            <li>
              <img src="/assets/houstonmarathon.jpg">
              <div class="caption center-align">
              </div>
            </li>
            <li>
              <img src="/assets/tough_mudder.jpg">
              <div class="caption center-align">
              </div>
            </li>  
          </ul>  
        </div>  
      </div>
      <div class="col l3" style="text-align: center">
        <div class="card hoverable">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Resume</span>
            </div>
            <div class="card-action">
              <a href=<%= image_url('marshall_resume.pdf')%> target="_blank" >This is a link</a>
            </div>
          </div>
        </div> 
      </div>
      <div class="col l3" style="text-align: center">
        <div class="card hoverable">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">About Me</span>
            </div>
            <div class="card-action">
              <a href=<%=image_url("marshall_bio.pdf")%> target='_blank'>This is a link</a>
            </div>
          </div>
        </div>  
      </div>
      <div class="col l3" style="text-align: center">
        <div class="card hoverable">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Github</span>
            </div>
            <div class="card-action">
              <a href="https://github.com/pmarshall17">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col l3" style="text-align: center">
        <div class="card hoverable">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">3 Words</span>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>  
      </div>
      <div class="col l6" style="text-align: center">
        <div class="card hoverable">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Letters of Recommendation</span>
            </div>
            <div class="card-action">
              <a href=<%=image_url('LOR1.PDF')%> target="_blank">Rec 1</a>
              <a href=<%=image_url('LOR2.PDF')%> target="_blank">Rec 2</a>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>


