@import 'materialize';

body {
	background-color: gray;
}

.page-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 150px;
	width: 100%;
}

/*Need to get this working*/
/*.list {
	float: right;
}*/

.slider-adjustment {
	position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}