<!DOCTYPE html>
<html>
<head>
  <title>Patrick M. Marshall|Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="stylesheets/application.scss">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>


  <!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<%= yield %>

</body>

<footer class="page-footer transparent">
<div class="container">
  <div class="row">
    <div class="col l4 s12">
      <h5 class="white-text">Look Me Up Then Hook Me Up!</h5>
      <div>
      <a href="https://github.com/pmarshall17">
      <img title="GitHub" alt="GitHub" src='https://jitpack.io/w/img/github-logo.png' width="65" height="33" />
      </a>
      <a href="https://twitter.com/?lang=en">
      <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/twitter1.png" width="35" height="35" />
      </a>
      <a href="https://www.linkedin.com/in/pmarshall71">
      <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/linkedin1.png" width="35" height="35" />
      </a>
      <a href="https://www.instagram.com/pat_marshall99/">
      <img title="Facebook" alt="Facebook" src="http://diylogodesigns.com/blog/wp-content/uploads/2016/05/instagram-Logo-PNG-Transparent-Background-download.png" width="37" height="37" />
      </a>
      <a href="mailto:pmarshall1716@gmail.com?subject=Hi Patrick!">
      <img title="Gmail" alt="Gmail" src='https://lh6.ggpht.com/8-N_qLXgV-eNDQINqTR-Pzu5Y8DuH0Xjz53zoWq_IcBNpcxDL_gK4uS_MvXH00yN6nd4=w300' width="37" height="37" />
      </a>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2016 Copyright Text
  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div>
</footer>

</html>
